<h1>Listing timetables</h1>

<table>
  <tr>
     <th>Week</th>
    <th>Day</th>
    <th>Period</th>
    <th>Room</th>
    <th>Class</th>
    <th>Pupilnumber</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @timetables.each do |timetable| %>
  <tr>
    <td><%= timetable.week %></td>
    <td><%= timetable.day %></td>
    <td><%= timetable.period %></td>
    <td><%= timetable.room_id %></td>
    <td><%= timetable.schoolclass_id %></td>
    <td><%= timetable.pupilnumber %></td>
    <td><%= link_to 'Show', timetable %></td>
    <td><%= link_to 'Edit', edit_timetable_path(timetable) %></td>
    <td><%= link_to 'Destroy', timetable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timetable', new_timetable_path %>
