<%if current_user %>
<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

<%= link_to('Add a New User', new_user_path) %>
<br \>
<%= link_to('Add Rooms', new_room_path) %>
<br \>
<%= link_to('Add Classes', new_schoolclass_path) %>
<% else%>
<%redirect_to root_path %>
<%end%>