<%= form_for(@userreq) do |f| %>
  <% if @userreq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userreq.errors.count, "error") %> prohibited this userreq from being saved:</h2>

      <ul>
      <% @userreq.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.collection_select(:weekbg_id, @weekbgs, :id, :date,{},{:class=>"input-large"})%>
  </div>
  <div class="actions">
    <%= f.submit 'New Requisition', class: "btn btn-large btn-primary"%>
  </div>
<% end %>
